@use 'config' as c;

.artForm{
    width: 100%;
    padding: c.$padMin;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 2rem;
    @media only screen and (min-width:c.$tablet){
        width: 45%;
        min-width: 600px;
    } 
    h3{
        width: 100%;
        text-align: center;        
    }
    form{
        background-color: c.$color01bis;
        width: 100%;
        padding: c.$padMin;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 0.8rem;
        @media only screen and (min-width:c.$tablet){
            padding: 2rem 3rem;
        }
        >div{
            width: 100%;
            margin: 1rem 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            column-gap: 2rem;
            label{
                width: 100%;
            }
            input[type="checkbox"]{
                width: 30px;
                height: 30px;
            }
        }
        label{
            font-size: clamp(1rem, 3vw, 1.3rem);
            font-family: c.$fuenteTextos;
            color: c.$color00;
            font-weight: 400;            
        }
        input, textarea{
            width: 100%;
            padding: 0.5rem 1rem;
            font-family: c.$fuenteTextos;
            font-size: clamp(1rem, 3vw, 1.4rem);
            border: none;
            border-radius: 2px;
        }
        textarea{
            max-width: 100%;
            min-width: 100%; 
            height: 100px;
            min-height: 100px;
            max-height: 500px;
        }
    }
    .error{
        color: rgb(184, 13, 13);
        font-size: 1.3rem;
        font-weight: 500;
    }
    .inputError{
        border: 2px solid rgb(184, 13, 13);
        color: rgb(184, 13, 13);
    }
}