@use 'config.scss' as c;
@use 'moduleloader01';

.artForm02{
    width: 100%;
    padding: c.$padMin;
    display: flex;
    flex-direction: column;
    align-items: center;   // Eje X
    justify-content: flex-start; // Eje Y
    row-gap: 2rem;
    @media only screen and (min-width: c.$tablet){
        width: 90%;
        padding: initial;
    }
    @media only screen and (min-width: c.$desktop){
        width: 80%;
    }

    h3{
        padding: c.$padMin;
    }

    >:nth-child(1){
        width: 100%;
        text-align: left;
    }

    >div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;   // Eje X
        justify-content: flex-start; // Eje Y
        row-gap: 2rem;
        @media only screen and (min-width: c.$tablet){
            flex-direction: row;
            justify-content: center; // Eje X
            align-items: flex-start;   // Eje Y
            column-gap: 2rem;
        }

        .contenedor-form{   
            position: relative;  
            order: 2;          
            width: 100%;
            @media only screen and (min-width: c.$tablet){
                order: 1;
                padding: c.$padMin;
            } 
            @media only screen and (min-width: c.$desktop){
                width: 45%;
            }  

            .modal-envio-ok {
                display: none; /* Oculto por defecto */
                position: fixed;
                z-index: 1000;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */

                .modal-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;   // Eje X
                    justify-content: center; // Eje Y
                    row-gap: 1.5rem;
                    background-color: #fff;
                    margin: 15% auto;
                    padding: 20px;
                    border: 1px solid #888;
                    width: 80%;
                    max-width: 400px;
                    text-align: center;
                    border-radius: 10px;

                    .btn-mostrar-formulario {  
                        display: inline;
                        margin-top: 2rem;
                        padding: 0.5rem 2rem;
                        background-color: c.$color00;
                        color: c.$color01;
                        text-decoration: none;
                        font-family: c.$fuenteTextos;
                        letter-spacing: 2px;
                        border-radius: 3px;
                        transition: 0.5s ease;

                        &:hover{
                            background-color: darken(c.$color00, 10%);
                            transform: scale(.9);
                        }
                        &:active{
                            background-color: darken(c.$color00, 10%);
                            transform: scale(.85);
                        }
                    }
                }
            }

            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start; // Eje X
                justify-content: flex-start; // Eje Y
                row-gap: 0.5rem;

                label{
                    margin-top: 0.5rem;
                    font-family: c.$fuenteTextos;
                    font-size: c.$tamanoFuente;
                }
                input, textarea{
                    width: 100%;
                    padding: 0.5rem 1rem;
                    font-size: clamp(1rem, 3vw, 1.1rem);
                    font-family: c.$fuenteTextos;
                    border: 1px solid c.$color01;
                    border-radius: 5px;

                    &::placeholder{
                        font-family: c.$fuenteTextos;
                        font-size: c.$tamanoFuente;
                        color: c.$color01bis;
                    }
                }
                textarea{
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100px;
                    max-height: 300px;
                    resize: vertical;
                }
                input[type="checkbox"]{
                    width: 30px;
                    height: 30px;        
                }
                .btn-enviar{
                    // margin: 0 auto;
                    position:relative;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-top: 1.5rem;
                    width: 100px;
                }
                .horizontal{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start; // Eje X
                    align-items: center;   // Eje Y
                    column-gap: 1rem;

                    input[type="text"]{
                        width: 120px;
                    }
                }
            }
        }

        .contenedor-info{     
            order: 1;          
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start; // Eje X
            justify-content: flex-start; // Eje Y
            row-gap: 2rem;
            @media only screen and (min-width: c.$tablet){
                order: 2;
                padding: c.$padMin;
            } 
            @media only screen and (min-width: c.$desktop){
                width: 55%;
            } 

            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start; // Eje X
                justify-content: flex-start; // Eje Y
                row-gap: 1rem; 
                
                li a {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start; // Eje X
                    align-items: center; // Eje Y
                    column-gap: 0.5rem;
                    font-family: c.$fuenteTextos;
                    text-decoration: none;
                    color: c.$color01;

                    >img {
                        filter: c.$colorSVG;
                        width: 30px;
                    }
                    >span{
                        font-size: c.$tamanoFuente;
                        color: c.$color01;
                    }
                    .icono-mapa {
                        align-self: flex-start; // modifica ese elemento en concreto
                    }
                }
            }
            iframe{
                width: 100%;
                border-radius: 10px;
            }
        } 
    }
}