@use 'config' as c;

.art03{
    width: 100%;
    padding: 0 c.$padMin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    @media only screen and (min-width:c.$desktop){
        width: 80%;
        row-gap: 3rem;
    }
    h3{
        @media only screen and (min-width: c.$tablet){
            width: 80%;
        }
    }
    p{
        @media only screen and (min-width: c.$tablet){
            width: 80%;
        }
    }
    img{
        width: 100%;
        height: 80dvw;
        object-fit: cover;
        object-position: center;
        @media only screen and (min-width: c.$tablet){
            width: 80%;
            height: 30dvh;
            border-radius: 10px;
        }
    }
}