@use 'config' as c;

// Aquí irán los estilos de todos los elementos que estén presentes en TODAS LAS VISTAS DE LA WEB
// Los estilso del nav
// los estilos del footer
// Otros elementos comunes a todas las vistas, pues también irán aquí.

#chec{
    display: none;
    &:checked ~ .contenedor_spam span:nth-last-child(1) {
        transform: rotate(-45deg) translate(-1px, 0px);
    }
    &:checked ~ .contenedor_spam span:nth-last-child(2) {
        transform: rotate(0deg) scale(0.2, 0.2);
        opacity: 0;
    }
    &:checked ~ .contenedor_spam span:nth-last-child(3) {
        transform: rotate(45deg) translate(0px, -1px);
    }
    &:checked ~ nav{
        min-height: 100dvh;
    }
}
.contenedor_spam {
    position: fixed;
    top:3px;
    right: 3px;
    z-index: 1500;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    align-items: center; 
    cursor: pointer;
    @media only screen and (min-width:c.$tablet){
        display: none;
    }
    span {
        width: 100%;
        height: 3px;
        background: black;
        transition: all 250ms ease-out;
        transform-origin: 0 0;
    }
}


nav{
    padding: 3.3rem 1rem 0.5rem 1rem;
    background-color:c.$color00;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1rem;
    @media only screen and (min-width: c.$tablet){
        &{   
            padding: 0.5rem 1rem;         
            flex-direction: row;
            justify-content: space-between;
            align-items: center; 
        }
    }
    >img{
        width: 100px;
        height: 40px;
        object-fit: contain;
        position: absolute;
        left: 1rem;
        top: 0.5rem;
        @media only screen and (min-width:c.$tablet){
            &{
              position: initial;  
            }
        }
    }
    >ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        position: relative;
        a{
            color: c.$color02;
            font-size: clamp(0.8rem, 3vw, 1.1rem);
        }
        li{
            position: relative;            
            .sublista{
                max-height: 0;
                overflow: hidden;
                position: absolute;
                top: 1.5rem;
                z-index: 10;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                row-gap: 0.5rem;

                /* estados iniciales para animar opacity y padding */
                padding: 0;
                opacity: 0;
                pointer-events: none;

                /* animar max-height + opacity + padding para un efecto suave */
                transition: 0.35s ease;
            }
            &:hover .sublista{
                /* max-height con un valor suficientemente grande para el contenido */
                max-height: 500px;
                background-color: c.$color00;
                padding: 1rem;
                opacity: 1;
                pointer-events: auto;
            }
        }
        
    }
    .idiomas{       
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        @media only screen and (min-width:c.$tablet){
            &{
              position: initial;  
            }
        }
    }
}

header{
    width: 100%;
    height: 100dvh;
    background-color: c.$color01;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;

    >:nth-child(2){
        width: 100%;
        height: 300px;        
        overflow: hidden;
        @media only screen and (min-width:c.$tablet){
            &{
                width: 500px;
                // border: 2px solid c.$color01;                
            }
        }
        &:hover img{
            transform: scale(1.05);
            transition: 1s;           
        }
        // &:active img{
        //     filter: sepia(1);
        //     transition: 4s;
        // }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 1s;
            filter: invert(1);    
        }        
    }
}

footer{
    background-color: c.$color01;
    padding: 4rem c.$padMin;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;    
    @media only screen and (min-width:c.$tablet){
        &{
            padding: 6rem c.$padMin;
            row-gap: 4rem;
        }
    }
    @media only screen and (min-width:c.$desktop){
        &{
            padding: 6rem 0;
        }
    }   
    >:nth-child(1){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
        @media only screen and (min-width:c.$tablet){
            &{
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
            }
        }
        @media only screen and (min-width:c.$desktop){
            &{
                width: 80%;
            }
        }        
        .cajaInfo{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            row-gap: 1.5rem;
            ul{
                display: flex;
                flex-direction: column;
                align-items: flex-start;           
                row-gap: 0.8rem;                
            }
            img{
                filter: invert(1);
            }
            .rrss{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                column-gap: 1.5rem;
            }
        }
        >:nth-child(1){
            @media only screen and (min-width:c.$desktop){
                &{
                    align-items: flex-start;
                }
            }
        }
        >:nth-child(3){      
            @media only screen and (min-width:c.$desktop){
                &{
                    align-items: flex-end;
                }
            }
            ul{
                a{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    column-gap: 1.5rem;
                }
            }
        }
    }
    >:nth-child(2){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 1.5rem;
        @media only screen and (min-width:c.$tablet){
            &{
                width: 60%;
                max-width: 1000px;
                min-width: 600px;
            }
        }
        >div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            row-gap: 4rem;
        }
        >img{
            filter: invert(1);
        }
    }
    a, p{
        color: c.$color00;
    }
    ul{
        list-style: none;
    }
    #zonaTerminos{
        display: flex;
        justify-content: center;
        column-gap: 2rem;
        flex-wrap: wrap;
    }
}

