@use 'config.scss' as c;

.moduleloader01{
    display: none;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    object-fit: contain;
}