@use 'resources/config' as c;
@use 'resources/global';
@use 'resources/art01';
@use 'resources/moduloBoton02';


header{
    overflow: hidden;
    background-color: initial;
    position: relative;
    >img{
        position: absolute;
        width: 100%;
        height: 100%; 
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }
    h1{
        font-size: clamp(1rem, 3vw, 5rem);
        color: c.$color00;
        @media only screen and (min-width:c.$tablet){
            max-width:50%; 
        }
    }
}