@use 'config' as c;
@use 'global';

@use 'moduloBoton01';
@use 'moduloBoton02';

@use 'art05';
@use 'art01';



header{
    background-image: url('/assets/img/vistas/productos/panes-pasteles-1500.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media only screen and (min-width:c.$tablet){
        background-image: url('/assets/img/vistas/productos/panes-pasteles-1800.avif');
    }
    @media only screen and (min-width:c.$desktop){
        background-image: url('/assets/img/vistas/productos/panes-pasteles-2560.avif');
    }
    h1{
        color: c.$color00;
        text-shadow: 0px 0px 5px c.$color01bis2;
        @media only screen and (min-width:c.$desktop){
            width: 70%;
        }
    }
    >:nth-child(2){
        img{
            filter: initial;
        }
    } 
    // h1{
    //     color: c.$color00;
    // }
}


.invert{
    @media only screen and (min-width: c.$tablet){
        >img{
            order: 1;
        }
        >div{
            order: 0
        }
    }
}
