@use 'resources/config' as c;
@use 'resources/global';
@use 'resources/art01';
@use 'resources/art02';
@use 'resources/art02-bis';
@use 'resources/art03';
@use 'resources/art04';
@use 'resources/art05';
@use 'resources/art06';
@use 'resources/art07';
@use 'resources/art08';
@use 'resources/art09';
@use 'resources/art10';
@use 'resources/art11';
@use 'resources/art12';

@use 'resources/artForm01';
@use 'resources/artForm02';
@use 'resources/moduleloader01';

@use 'resources/artForm';
@use 'resources/sect01';
@use 'resources/sect02';
@use 'resources/moduloBoton01';
@use 'resources/moduloBoton02';


